.busket__title {
    color: rgba(0, 0, 0, 0.151);
    margin-bottom: 10px;
}

.busket__element-container {
    background-color: var(--color-white);
    border-top-left-radius: var(--border-radius-10px);
    border-top-right-radius: var(--border-radius-10px);
    height: 1000px;
    overflow-y: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.busket__product-container {
    display: flex;
}

.busket__product-title-container {
    font-size: 1.5em;
}

.busket__product-articul {
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.301);
}

.busket__product-information-price-container {
    margin-top: auto;
}

.busket__product-information-container {
    display: flex;
    flex-direction: column;
}

.busket__product-wan,
.busket__product-total {
    color: rgba(0, 0, 0, 0.623);
    font-weight: 500;
}

.busket__product-information-price,
.busket__product-price {
    font-size: 2em;
    font-weight: 700;
}

.busket__product-price-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busket__buy-container {
    position: sticky;
    bottom: -30px;
    background-color: var(--color-white);
    padding: 30px;
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius: var(--border-radius-10px);
    border-bottom-right-radius: var(--border-radius-10px);
}

.busket__buy-btn {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 10px 40px;
    font-size: 1.4em;
    border-radius: var(--border-radius-10px);
    text-decoration: none;
}