.header__container {
    padding: 30px 300px;
    box-sizing: border-box;
    background-color: var(--color-white);
}

.header__content-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header__top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__information-block {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.header__number {
    margin-right: 20px;
    font-size: 1.7em;
}

.header__number::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../assets/elements-icon/header-elements/phone.svg');
    margin-right: 10px;
    vertical-align: middle;
}

.header__basket-btn {
    position: relative;
}

.header__basket {
    height: 30px;
    width: 30px;
}

.header__busket-item-container {
    position: absolute;
    top: -13px;
    right: -13px;
    border-radius: 50%;
    height: clamp(25px, 100%, 27px);
    width: clamp(20px, 100%, 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    color: var(--color-white);
    font-weight: 600;
    z-index: 3;
}

.header__bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 50px;
    list-style: none;
    position: relative;
}

.header__basket-btn,
.header__profile-btn,
.header__list-item-btn,
.header__magnifying-glass-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.7em;
    text-decoration: none;
    color: black;
}

.header__list-item-down-arrow {
    margin-left: 3px;
    position: relative;
    top: 2px;
}

.header__list-item-btn:hover,
.header__list-item-down-arrow:hover,
.item-down-arrow-action,
.item-action {
    color: var(--color-green);
}
 
.item-down-arrow-action {
    transform: rotate(180deg);
    box-sizing: border-box;
}

.header__catalog-list {
    list-style: none;
    text-decoration: none;
    position: absolute;
    top: 40px;
    background-color: var(--color-white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.5em;
    border-radius: var(--border-radius-10px);
    box-shadow: var(--box-shadow);
    width: 230px;
    z-index: 1;
}

.header__catalog-list-item {
    padding: 10px;
    border-radius: var(--border-radius-10px);
}

.header__catalog-list-item:hover {
    background-color: rgba(0, 128, 0, 0.336);
}

.header__catalog-list-item-link {
    text-decoration: none;
    color: black;
}

.header__search-engine-form {
    position: relative;
}

.header__search-engine {
    padding: 13px;
    width: 300px;
    border-radius: 10px;
    font-size: 1.8em;
    background-color: #e7e5e5a4;
    border: 1px solid #b9b9b9a4;
}

.header__magnifying-glass-btn {
    position: absolute;
    right: 15px;
    top: 12px;
}


@media (max-width: 1700px) {
    .header__container {
        padding: 30px 200px;
    }
}

@media (max-width: 1605px) {
    .header__container {
        padding: 30px 180px;
    }
}

@media (max-width: 1450px) {
    .header__container {
        padding: 30px 100px;
    }
}

@media(max-width: 1060px) {
    .header__container {
        padding: 30px 50px;
    }
}

@media(max-width: 920px) {
    .header__container {
        padding: 30px 15px;
    }
}

@media(max-width: 840px) {
    .header__bottom-container {
        flex-direction: column;
        gap: 30px;
    }
}

@media(max-width: 570px) {

    .header__information-block {
        gap: 15px;
    }

    .number {
        margin-right: 0px;
        font-size: 1.5em;
    }

    .header__basket {
        height: 20px;
        width: 20px;
    }

    .header__profile {
        height: 23px;
        width: 23px;
    }
}

@media(max-width: 497px) {

    .header__top-container {
        flex-direction: column;
        gap: 20px;
    }

    .header__information-block {
        gap: 30px;
    }

    .number {
        font-size: 1.5em;
    }

    .header__list {
        gap: 21px;
    }

    .header__list-item-btn {
        font-size: 1.4em;
    }

    .header__content-container {
        gap: 30px;
    }
}